@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Inter", sans-serif;
}

.container {
    width: 100%;
    max-width: 1160px;
    margin: 0 40px;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}